

from tkinter import *
# From tkinter import * is im pretty how I got it to load as a gui from my understanding. For some reason there would be random phrases that would go under it that would screw up the code so just delet anything that shows up under it.

def buttonClick(number):
    global operator
    operator = operator + str(number) 
    input_value.set(operator)
  # The function above im pretty sure is what let me click on the numbers on the calculator. After making this function I had to add ,command=lambda: buttonClick(the number)) to the code below.

def buttonClear():
    global operator
    operator = ""
    input_value.set("")
   # This function above me to my understanding is what cleared the calculator when pressing the C button that why on the line of code with C instead of ,command=lambda: buttonClick(number)) it is ,command=lambda: buttonClick(clear)).

def buttonEqual():
    global operator
    result = str(eval(operator))
    input_value.set(result)
    operator = ""
   # And finally this function above is what did the math im pretty sure agian I could be wrong I do not know what im doing.


main = Tk()
main.title("Calculator")

operator = ""
input_value = StringVar()
display_text = Entry(main, font=("arial",20, "bold"),textvariable=input_value,bd=30,insertwidth=4,
bg="powder blue", justify=RIGHT)
display_text.grid(columnspan=4)

# Row 1 7 8 9 +

btn_7 = Button(main,padx=16,bd=8,fg="black",font=("arial",20,"bold"),text="7",command=lambda: buttonClick(7))
btn_7.grid(row=1,column=0)

btn_8 = Button(main,padx=16,bd=8,fg="black",font=("arial",20,"bold"),text="8",command=lambda: buttonClick(8))
btn_8.grid(row=1,column=1)

btn_9 = Button(main,padx=16,bd=8,fg="black",font=("arial",20,"bold"),text="9",command=lambda: buttonClick(9))
btn_9.grid(row=1,column=2)

btn_add = Button(main,padx=16,bd=8,fg="black",font=("arial",20,"bold"),text="+",command=lambda: buttonClick("+"))
btn_add.grid(row=1,column=3)


# Row 2- 4 5 6 -

btn_4 = Button(main,padx=16,bd=8,fg="black",font=("arial",20,"bold"),text="4",command=lambda: buttonClick(4))
btn_4.grid(row=2,column=0)

btn_5 = Button(main,padx=16,bd=8,fg="black",font=("arial",20,"bold"),text="5",command=lambda: buttonClick(5))
btn_5.grid(row=2,column=1)

btn_6 = Button(main,padx=16,bd=8,fg="black",font=("arial",20,"bold"),text="6",command=lambda: buttonClick(6))
btn_6.grid(row=2,column=2)

btn_sub = Button(main,padx=16,bd=8,fg="black",font=("arial",20,"bold"),text="-",command=lambda: buttonClick("-"))
btn_sub.grid(row=2,column=3)


# Row 3 - 1 2 3 -

btn_1 = Button(main,padx=16,bd=8,fg="black",font=("arial",20,"bold"),text="1",command=lambda: buttonClick(1))
btn_1.grid(row=3,column=0)

btn_2 = Button(main,padx=16,bd=8,fg="black",font=("arial",20,"bold"),text="2",command=lambda: buttonClick(2))
btn_2.grid(row=3,column=1)

btn_3 = Button(main,padx=16,bd=8,fg="black",font=("arial",20,"bold"),text="3",command=lambda: buttonClick(3))
btn_3.grid(row=3,column=2)

btn_mul = Button(main,padx=16,bd=8,fg="black",font=("arial",20,"bold"),text="*",command=lambda: buttonClick("*"))
btn_mul.grid(row=3,column=3)

# Row 4 - 0 C = /

btn_0 = Button(main,padx=16,bd=8,fg="black",font=("arial",20,"bold"),text="0",command=lambda: buttonClick(0))
btn_0.grid(row=4,column=0)

btn_clear = Button(main,padx=16,bd=8,fg="black",font=("arial",20,"bold"),text="C",command=buttonClear)
btn_clear.grid(row=4,column=1)

btn_equal = Button(main,padx=16,bd=8,fg="black",font=("arial",20,"bold"),text="=",command=buttonEqual)
btn_equal.grid(row=4,column=2)

btn_div = Button(main,padx=16,bd=8,fg="black",font=("arial",20,"bold"),text="/",command=lambda: buttonClick("/"))
btn_div.grid(row=4,column=3)



main.mainloop() 
# This I can tell you 100% that it just kept the code from not ending the second I started it it just kept looping it!
